[submodule "google-calendar-mcp-server"]
	path = google-calendar-mcp-server
	url = git@github.com:asakaicode/google-calendar-mcp-server.git
[submodule "mcp-weathernews"]
	path = mcp-weathernews
	url = git@github.com:asakaicode/mcp-weathernews.git
